#banner{
    display: flex;
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

#header{
    display: flex;
    z-index: -1;
}

#container{
    background-color: #ffffff;
}


body{  
    background-color: #CEE5D0;
    margin-left: 10px;
    margin-right: 10px;
}



