<div class="container">
    <div class="row">
        <div>
            <form ngForm #F="ngForm" (ngSubmit)="onCreate()" novalidate >
            <div class="form-group">
                <label for="nombre">Nombre del Proyecto</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
            </div>
            <div class="form-group">
                <label for="fecha">Año</label>
                <input type="text" class="form-control" id="fecha" name="fecha" [(ngModel)]="fecha" required>
            </div>
            <div class="form-group">
                <label for="about">Descripción del Proyecto</label>
                <input type="text" class="form-control" id="about" name="about" [(ngModel)]="about" required>
            </div>
            <button type="submit" class="btn btn-dark">Agregar Proyecto</button>
            </form>
        </div>
    </div>
</div>