<div class="container col-6 border border-white border-3 rounded-2 border-light position-absolute top-50 start-50 translate-middle p-4" *ngIf="experiencia">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <h4 class="mb-4" style="font-weight: bold">Editá tu experiencia</h4>
                <div class="form-group mb-3">
                    <label class="mb-2" for="puesto" style="font-weight: bold">Nombre del puesto</label>
                    <input type="text" class="form-control" id="puesto" name="puesto" [(ngModel)]="experiencia.puesto" required>
                </div>
                <div class="form-group mb-3">
                    <label class="mb-2" for="empresa" style="font-weight: bold">Lugar de trabajo</label>
                    <input type="text" class="form-control" id="empresa" name="empresa" [(ngModel)]="experiencia.empresa" required>
                </div>
                <div class="form-group mb-3">
                    <label class="mb-2" for="fecha" style="font-weight: bold">Fecha</label>
                    <input type="text" class="form-control" id="fecha" name="fecha" [(ngModel)]="experiencia.fecha" required>
                </div>
                <button type="submit" class="btn btn-dark mt-3">Actualizar experiencia
                </button>
            </form>
        </div>
    </div>
</div>