<div id="container" class="container border border-1 rounded-2 border-dark   mb-4">
    <div class="row col-12">
        <div class="col-8 m-3"><h2 class="mb-4 fw-semibold">Experiencia</h2></div>
        <div class="col-1 mt-3 me-0 btn-edit"><a href="/nuevaexp" class="btn-right" *ngIf="isLogged"><i class="fa-solid fa-plus"></i></a></div>
    </div>
    <div class="row" *ngFor="let Experiencia of experiencia">
        <div class="col-12 col-lg-1"><img class="img-fluid"
                src="assets/experiencia.png"
                alt=""></div>
        <div class="col-12 col-lg-6 ">
            <div class="row mb-3">
                <div class="col-10 fs-4">{{Experiencia.puesto}}</div>
                <div class="col-10 text-secondary">{{Experiencia.empresa}}</div>
                <div class="col-10 text-secondary">{{Experiencia.fecha}}</div>
                <div class="col-1 mt-3 me-0 btn-edit"><a href="/editexp/{{Experiencia.id}}" class="btn-right" *ngIf="isLogged"><i class="fa-solid fa-pen-to-square"></i></a></div>
                <div class="col-1 mt-3 me-0 btn-edit"><a href="#" class="btn-right" *ngIf="isLogged" (click)="delete(Experiencia.id)"><i class="fa-solid fa-trash-can"></i></a></div>
            </div>
        </div>
    </div>
<br>
</div>

