<div class="container col-6 border border-white border-3 rounded-2 border-light position-absolute top-50 start-50 translate-middle p-4">
    <div class="row">
        <div>
            <form ngForm #F="ngForm" (ngSubmit)="onCreate()" novalidate >
                <h4 class="mb-4" style="font-weight: bold">Agregá tu nueva experiencia</h4>
            <div class="form-group mb-3">
                <label class="mb-2" for="puesto" style="font-weight: bold">Nombre del puesto</label>
                <input type="text" class="form-control" placeholder="Ingeniero en Informática" id="puesto" name="puesto" [(ngModel)]="puesto" required>
            </div>
            <div class="form-group mb-3">
                <label class="mb-2" for="empresa" style="font-weight: bold">Lugar de trabajo</label>
                <input type="text" class="form-control" placeholder="Empresa" id="empresa" name="empresa" [(ngModel)]="empresa" required>
            </div>
            <div class="form-group  mb-3">
                <label class="mb-2" for="fecha" style="font-weight: bold">Fecha</label>
                <input type="text" class="form-control" placeholder="2010-2013" id="fecha" name="fecha" [(ngModel)]="fecha" required>
            </div>
            <button type="submit" class="btn btn-dark mt-3">Agregar experiencia</button>
            </form>
        </div>
    </div>
</div>