<div id="container" class="container border rounded-bottom border-top-0 border-2 mb-4">
    <div id="info" class="row mb-4 d-flex">

        <div id="info-img" class="col-12">
            <img id="profile-image"
                src="https://media-exp2.licdn.com/dms/image/C4D03AQG62TQ5A9vLmA/profile-displayphoto-shrink_800_800/0/1648590873533?e=1662595200&v=beta&t=P2krXero5GltsPEPr6Kg2CvpIvxh8LYozswJrF_xs2g"
                alt="">
        </div>
        <div id="editar-profile-image" class="row col-1 btn-edit"> <a href="#" class="btn-right">
            <i class="fa-solid fa-pen-to-square"></i></a></div>

        <div class="row col-11 d-flex " id="datos-personales">
            <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
            <div id="puesto-actual"><h5>Full Stack Developer Jr</h5></div>
            <div id="locacion"><h5>Buenos Aires (Argentina)</h5></div>
        </div>
        <div id="editar-info-personal" class="row col-1 btn-edit" onclick="EditarInfoPersonal"> <a href="#" class="btn-right"><i
                    class="fa-solid fa-trash-can"></i></a></div>

        <div>
            <p id="text-acercade" class="lead">Soy Sofia, tengo 31 años, soy Profesora de Inglés y actualmente estudiante de Desarrollo Web</p>
        </div>
        <div>
            <input id="edit-acercade" type="text" style="display: none">
        </div>


    </div>
</div>
   
   
   
   
   
   
   
   
   <!-- <div class="container border border-top-0 rounded-2 rounded-bottom border-2 mb-4">
        <div id="info" class=" mb-4 d-flex">
    
            <div id="info-img" class="col-2">
                <img id="profile-image"
                    src="https://media-exp2.licdn.com/dms/image/C4D03AQG62TQ5A9vLmA/profile-displayphoto-shrink_800_800/0/1648590873533?e=1662595200&v=beta&t=P2krXero5GltsPEPr6Kg2CvpIvxh8LYozswJrF_xs2g"
                    alt="">
            </div>
    
                    <div class="row col-9 d-flex" id="datos-personales">           
                    <h1>Sofia Gardella</h1>
                    <div id="puesto-actual">Full Stack Developer Jr</div>
                    <div id="locacion">Buenos Aires (Argentina)</div>
                </div>
    
                <div class="row btn-edit"> <a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    
            </div>
        </div> -->
    



<!-- <div class="d-flex justify-content-center" id="info">
    <div id="info-img" class=" row col-3 align-self-center">
        <img id="profile-image"
            src="https://media-exp2.licdn.com/dms/image/C4D03AQG62TQ5A9vLmA/profile-displayphoto-shrink_800_800/0/1648590873533?e=1662595200&v=beta&t=P2krXero5GltsPEPr6Kg2CvpIvxh8LYozswJrF_xs2g"
            alt="">
        </div>
        <div class="row btn-edit"> <a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    <div class="row col-4 d-flex align-self-center " id="datos-personales">
        <div>
            <h1>Sofia Gardella</h1>
            <div id="puesto-actual">Full Stack Developer Jr</div>
            <div id="locacion">Buenos Aires (Argentina)</div>
        </div>
    </div>
</div> -->