<div id="container" class="container border border-1 rounded-2 border-dark   mb-4">
    <div class="row col-12">
        <div class="col-8 m-3">
            <h2 class="mb-4 fw-semibold">Educación</h2>
        </div>
        <div class="col-1 mt-3 me-0 btn-edit "><a href="#" class="btn-right"><i class="fa-solid fa-pen-to-square"></i></a></div>
        <div class="col-1 mt-3 me-0 btn-edit "><a href="#" class="btn-right"><i class="fa-solid fa-trash-can"></i></a>
        </div>
        <div class="col-1 mt-3 me-0 btn-edit "><a href="#" class="btn-right"><i class="fa-solid fa-plus"></i></a></div>
    </div>



    <div class="row">
        <div class="col-12 col-lg-1 "><img class="img-fluid"
                src="https://elegircolegio.com/images/made/images/remote/https_calidad.elegircolegio.com/images/uploads/logos/chivilcoy-stacecilia_138_138_f9f9f9_bor1_f9f9f9_all_3_s.png"
                alt=""></div>
        <div class="col-12 col-lg-6 ">
            <div class="row mb-3">
                <div class="col-12 fs-4">Profesorado de Inglés</div>
                <div class="col-12 text-secondary">Instituto Superior Santa Cecilia</div>
                <div class="col-12 text-secondary">2009-2013</div>
            </div>
        </div>
    </div>



    <!-- EDUCACION2 -->
    <div class="row">
        <div class="col-12 col-lg-1 "><img class="img-fluid"
                src="https://elegircolegio.com/images/made/images/remote/https_calidad.elegircolegio.com/images/uploads/logos/chivilcoy-stacecilia_138_138_f9f9f9_bor1_f9f9f9_all_3_s.png"
                alt=""></div>
        <div class="col-12 col-lg-6 ">
            <div class="row mb-3">
                <div class="col-12 fs-4">Full Stack Developer</div>
                <div class="col-12 text-secondary">Argentina Programa</div>
                <div class="col-12 text-secondary">2021-2022</div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>