<body>
  <div id="container"
    class="container col-4 border border-white border-3 rounded-1 border-light position-absolute top-50 start-50 translate-middle p-4">
    <form ngForm #f="ngForm" (ngSubmit)="onLogin()" novalidate>
      <!-- [formGroup]="form" -->

      <div id="email" class="mb-3">
        <h2>Iniciá sesión</h2>
        <label for="nombreUsuario" class="form-label">Email</label>
        <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg"
          [(ngModel)]="nombreUsuario" required />
      </div>

      <div id="contraseña" class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password"
          required />
      </div>

      <button type="submit" class="mb-3 btn btn-primary">Iniciar sesión</button>
    </form>

  </div>


</body>