<div id="container" class="container border border-1 rounded-2 border-dark   mb-4">
    <div class="row col-12">
        <div class="col-8 m-3">
            <h2 class="mb-4 fw-semibold">Hard & Soft Skills</h2>
        </div>
    </div>
    <!-- HARD SKILLS -->
    <div class="container">
        <div class="row align-items-center mb-4">
            <div class="col-3">
                <circle-progress [subtitle]="'HTML y CSS'" [percent]="80" [radius]="65" [outerStrokeWidth]="6"
                    [innerStrokeWidth]="4" [outerStrokeColor]="'#3b6978'" [innerStrokeColor]="'#8aa9ac'"
                    [animation]="true" [animationDuration]="300" [titleColor]="'#000000'" [titleFontSize]="'31'"
                    [subtitleColor]="'#000000'" [subtitleFontSize]="'15'"></circle-progress>
            </div>
            <div class="col-3">
                <circle-progress [subtitle]="'Bootstrap'" [percent]="50" [radius]="65" [outerStrokeWidth]="6"
                    [innerStrokeWidth]="4" [outerStrokeColor]="'#3b6978'" [innerStrokeColor]="'#8aa9ac'"
                    [animation]="true" [animationDuration]="300" [titleColor]="'#000000'" [titleFontSize]="'31'"
                    [subtitleColor]="'#000000'" [subtitleFontSize]="'15'"></circle-progress>
            </div>

            <div class="col-3">
                <circle-progress [subtitle]="'Angular'" [percent]="50" [radius]="65" [outerStrokeWidth]="6"
                    [innerStrokeWidth]="4" [outerStrokeColor]="'#3b6978'" [innerStrokeColor]="'#8aa9ac'"
                    [animation]="true" [animationDuration]="300" [titleColor]="'#000000'" [titleFontSize]="'31'"
                    [subtitleColor]="'#000000'" [subtitleFontSize]="'15'"></circle-progress>
            </div>

            <div class="col-3">
                <circle-progress [subtitle]="'Java'" [percent]="50" [radius]="65" [outerStrokeWidth]="6"
                    [innerStrokeWidth]="4" [outerStrokeColor]="'#3b6978'" [innerStrokeColor]="'#8aa9ac'"
                    [animation]="true" [animationDuration]="300" [titleColor]="'#000000'" [titleFontSize]="'31'"
                    [subtitleColor]="'#000000'" [subtitleFontSize]="'15'"></circle-progress>
            </div>
        </div>
    </div>

    <!-- SOFT SKILLS -->
    <div class="container">
        <div class="row align-items-center">

            <div class="col-3">
                <circle-progress [subtitle]="'Github'" [percent]="60" [radius]="65" [outerStrokeWidth]="6"
                    [innerStrokeWidth]="4" [outerStrokeColor]="'#3b6978'" [innerStrokeColor]="'#8aa9ac'"
                    [animation]="true" [animationDuration]="300" [titleColor]="'#000000'" [titleFontSize]="'31'"
                    [subtitleColor]="'#000000'" [subtitleFontSize]="'15'"></circle-progress>
            </div>

            <div class="col-3">
                <circle-progress [subtitle]="'Inglés'" [percent]="98" [radius]="65" [outerStrokeWidth]="6"
                    [innerStrokeWidth]="4" [outerStrokeColor]="'#3b6978'" [innerStrokeColor]="'#8aa9ac'"
                    [animation]="true" [animationDuration]="300" [titleColor]="'#000000'" [titleFontSize]="'31'"
                    [subtitleColor]="'#000000'" [subtitleFontSize]="'15'"></circle-progress>
            </div>

            <div class="col-3">
                <circle-progress [subtitle]="'Teamwork'" [percent]="100" [radius]="65" [outerStrokeWidth]="6"
                    [innerStrokeWidth]="4" [outerStrokeColor]="'#3b6978'" [innerStrokeColor]="'#8aa9ac'"
                    [animation]="true" [animationDuration]="300" [titleColor]="'#000000'" [titleFontSize]="'31'"
                    [subtitleColor]="'#000000'" [subtitleFontSize]="'15'"></circle-progress>
            </div>

            <div class="col-3">
                <circle-progress [subtitle]="'Comunicación'" [percent]="100" [radius]="65" [outerStrokeWidth]="6"
                    [innerStrokeWidth]="4" [outerStrokeColor]="'#3b6978'" [innerStrokeColor]="'#8aa9ac'"
                    [animation]="true" [animationDuration]="300" [titleColor]="'#000000'" [titleFontSize]="'31'"
                    [subtitleColor]="'#000000'" [subtitleFontSize]="'15'"></circle-progress>
            </div>
        </div>
    </div>
    <br>
</div>